.book-shelf {
	position: absolute;
	margin-top: 50px;
	padding: 0 50px;

	&-card {
		position: relative;
		display: flex;
		flex-direction: column;

		&-cover {
			position: relative;
			margin-bottom: 25px;
			width: 150px;
			align-self: center;
		}

		.ant-card-meta-description {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
