.footer {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    color: gray;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 10px;

    .copy-right {
        flex-shrink: 0;
    }

    a {
        color: gray;
        text-decoration: none;
        flex-shrink: 0;
    }

    .record {
        display: flex;
        gap: 5px;
        align-items: center;

        .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
        }
    }

}