.footer {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    color: gray;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: gray;
        text-decoration: none;

        // &:hover {
        //     text-decoration: underline;
        // }
    }

    .icon {
        margin: 0 5px;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}