html,
body {
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	padding: 20px;
	/* text-align: center; */
	box-sizing: border-box;
}

#app {
	width: inherit;
	height: inherit;
}

#gl {
	width: inherit;
}

canvas {
	width: 1200px;
}