html,
body {
	margin: 0;
}

body {
	padding: 20px;
	text-align: center;
}

#app {
	width: inherit;
	height: inherit;
}

#gl {
	min-width: 640px;
	min-height: 480px;
}

#gl_canvas {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 640px;
	height: 480px;
}

#test-app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-image: url('../assets/zzz.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
